.slider {
    width: 50%;
  }
  .slider-container {
    margin-bottom: 16px;
  }
  .grid-config {
    height: 120px;
    font-size: 14px;
    line-height: 120px;
    background: #0092ff;
    border-radius: 4px;
  }
  .waterfall-container {
    /*分几列*/
    column-count: 1;
  }

  .waterfall-item {
    /*不留白，不知道什么意思可以取消这个样式试试*/
    break-inside: avoid;
  }